# Data Visualisation

In [1]:
## Data Visualisation

### importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## columns to be open
columns = ['sentiment','id','date','query_string','user','text']

filePath_r = 'data/original_data.csv'

## dataframe
df = pd.read_csv(filePath_r,header=None, names=columns, encoding = "cp1252")
print(df.head())

   sentiment          id                          date query_string  \
0          0  1467810369  Mon Apr 06 22:19:45 PDT 2009     NO_QUERY
1          0  1467810672  Mon Apr 06 22:19:49 PDT 2009     NO_QUERY
2          0  1467810917  Mon Apr 06 22:19:53 PDT 2009     NO_QUERY
3          0  1467811184  Mon Apr 06 22:19:57 PDT 2009     NO_QUERY
4          0  1467811193  Mon Apr 06 22:19:57 PDT 2009     NO_QUERY

              user                                               text
0  _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1    scotthamilton  is upset that he can't update his Facebook by ...
2         mattycus  @Kenichan I dived many times for the ball. Man...
3          ElleCTF    my whole body feels itchy and like its on fire
4           Karoli  @nationwideclass no, it's not behaving at all....

In [3]:
## Printing the values counts
df.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [4]:
## Drop the Meta data
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [5]:
print(df.head())

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [6]:
## Print the rows with sentiment value is 0
df[df.sentiment == 0].head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [7]:
## print the rows where the sentiment value is 4
df[df.sentiment == 4].head()

        sentiment                                               text
800000          4       I LOVE @Health4UandPets u guys r the best!!
800001          4  im meeting up with one of my besties tonight! ...
800002          4  @DaRealSunisaKim Thanks for the Twitter add, S...
800003          4  Being sick can be really cheap when it hurts t...
800004          4    @LovesBrooklyn2 he has that effect on everyone